<% layout("layouts/boilerplate") %>
    <section class="col-12 alert alert-danger" role="alert">
        <h1>

            <%= message %>
        </h1>

        <% if (process.env.NODE_ENV !=="production" ) {%>
            <p>
                <%=err.stack%>
            </p>
            <% } %>

    </section>