<% layout("layouts/boilerplate") %>
    <section class="col-12 alert alert-danger" role="alert">
        <h1>

            <%= message %>
        </h1>
        <p>
            <%=err.stack%>
        </p>


    </section>