<% layout("layouts/boilerplate") %>
    <!--include the ejs-mate partial layout using the keyword layout instead of includes-->

    <h1>Welcome to We camp</h1>
    <ul>
        <% for(let camp of camps){%>
            <a href="/campgrounds/<%=camp._id%>">
                <li>
                    <%= `${camp.title}: located in ${camp.location}: Price $${camp.price}:
                        Description:${camp.description}`%>
                </li>
            </a>
            <% } %>
    </ul>