<% layout("layouts/boilerplate") %>

<div class="container">
    <section class="col-md-6 offset-md-3 mt-4 d-flex flex-column justify-content-center align-items-center p-3 shadow align-middle rounded-3"> 
        <img src="/img/WecampColor.png" alt="" width="90%" class="img-fluid" >
    <h1 class="text-center">Register</h1>

    <form action="/register" method="POST" class="needs-validation w-100" novalidate>

        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" name="username" id="username" class="form-control" placeholder="Username" required>
            <div class="valid-feedback">cool username M8</div>
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" name="email" id="email" class="form-control" placeholder="Email" required>
            <div class="valid-feedback">nice email!</div>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
            <div class="valid-feedback">valid password</div>
        </div>

        <div class="mb-3 d-grid gap-2">
            <button class="btn btn-wecamp" type="submit">Register</button>
        </div>


    </form>
</section>
</div>